* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}

.display {
    border: 1px solid black;
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.clear-all,
.zero {
    grid-column: span 2;
}